openapi: 3.2.0
info:
  title: Plane States API
  description: REST API for Plane, the open-source project and product management tool.
  termsOfService: https://plane.so/legals/terms-and-conditions
  contact:
    name: Plane Support
    url: https://plane.so/contact
  license:
    name: AGPL-3.0 (Community Edition)
    url: https://github.com/makeplane/plane/blob/master/LICENSE.txt
  version: v1
servers:
- url: https://api.plane.so/api/v1
  description: Plane Cloud
security:
- ApiKeyAuth: []
tags:
- name: States
paths:
  /workspaces/{workspace_slug}/projects/{project_id}/states/:
    get:
      operationId: listStates
      tags:
      - States
      summary: List all states in a project
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: A list of states.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/State'
    post:
      operationId: createState
      tags:
      - States
      summary: Create a state in a project
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StateCreate'
      responses:
        '201':
          description: The created state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/State'
  /workspaces/{workspace_slug}/projects/{project_id}/states/{state_id}/:
    get:
      operationId: getState
      tags:
      - States
      summary: Retrieve a state
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/StateId'
      responses:
        '200':
          description: The requested state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/State'
    patch:
      operationId: updateState
      tags:
      - States
      summary: Update a state
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/StateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StateCreate'
      responses:
        '200':
          description: The updated state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/State'
    delete:
      operationId: deleteState
      tags:
      - States
      summary: Delete a state
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/StateId'
      responses:
        '204':
          description: The state was deleted.
components:
  schemas:
    State:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        color:
          type: string
        group:
          type: string
          enum:
          - backlog
          - unstarted
          - started
          - completed
          - cancelled
        sequence:
          type: number
        project:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
    StateCreate:
      type: object
      required:
      - name
      - color
      properties:
        name:
          type: string
        description:
          type: string
        color:
          type: string
        group:
          type: string
          enum:
          - backlog
          - unstarted
          - started
          - completed
          - cancelled
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The UUID of the project.
      schema:
        type: string
        format: uuid
    StateId:
      name: state_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    WorkspaceSlug:
      name: workspace_slug
      in: path
      required: true
      description: The unique slug of the workspace.
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key generated from your Plane workspace settings. Pass it in the X-API-Key header on every request.
