openapi: 3.2.0
info:
  title: Plane Work Items API
  description: REST API for Plane, the open-source project and product management tool.
  termsOfService: https://plane.so/legals/terms-and-conditions
  contact:
    name: Plane Support
    url: https://plane.so/contact
  license:
    name: AGPL-3.0 (Community Edition)
    url: https://github.com/makeplane/plane/blob/master/LICENSE.txt
  version: v1
servers:
- url: https://api.plane.so/api/v1
  description: Plane Cloud
security:
- ApiKeyAuth: []
tags:
- name: Work Items
paths:
  /workspaces/{workspace_slug}/projects/{project_id}/work-items/:
    get:
      operationId: listWorkItems
      tags:
      - Work Items
      summary: List all work items in a project
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Cursor'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A paginated list of work items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWorkItems'
    post:
      operationId: createWorkItem
      tags:
      - Work Items
      summary: Create a work item in a project
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkItemCreate'
      responses:
        '201':
          description: The created work item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkItem'
  /workspaces/{workspace_slug}/projects/{project_id}/work-items/{work_item_id}/:
    get:
      operationId: getWorkItem
      tags:
      - Work Items
      summary: Retrieve a work item
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/WorkItemId'
      responses:
        '200':
          description: The requested work item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkItem'
    patch:
      operationId: updateWorkItem
      tags:
      - Work Items
      summary: Update a work item
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/WorkItemId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkItemCreate'
      responses:
        '200':
          description: The updated work item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkItem'
    delete:
      operationId: deleteWorkItem
      tags:
      - Work Items
      summary: Delete a work item
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/WorkItemId'
      responses:
        '204':
          description: The work item was deleted.
components:
  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      description: Cursor for cursor-based pagination, in the form value:offset:page.
      schema:
        type: string
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The UUID of the project.
      schema:
        type: string
        format: uuid
    WorkItemId:
      name: work_item_id
      in: path
      required: true
      description: The UUID of the work item (issue).
      schema:
        type: string
        format: uuid
    PerPage:
      name: per_page
      in: query
      required: false
      description: Number of results to return per page (default 20, max 100).
      schema:
        type: integer
    WorkspaceSlug:
      name: workspace_slug
      in: path
      required: true
      description: The unique slug of the workspace.
      schema:
        type: string
  schemas:
    WorkItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description_html:
          type: string
        priority:
          type: string
          enum:
          - urgent
          - high
          - medium
          - low
          - none
        state:
          type: string
          format: uuid
        assignees:
          type: array
          items:
            type: string
            format: uuid
        labels:
          type: array
          items:
            type: string
            format: uuid
        sequence_id:
          type: integer
        sort_order:
          type: number
        start_date:
          type: string
          format: date
        target_date:
          type: string
          format: date
        project:
          type: string
          format: uuid
        workspace:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PaginatedWorkItems:
      allOf:
      - $ref: '#/components/schemas/Pagination'
      - type: object
        properties:
          results:
            type: array
            items:
              $ref: '#/components/schemas/WorkItem'
    WorkItemCreate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description_html:
          type: string
        priority:
          type: string
          enum:
          - urgent
          - high
          - medium
          - low
          - none
        state:
          type: string
          format: uuid
        assignees:
          type: array
          items:
            type: string
            format: uuid
        labels:
          type: array
          items:
            type: string
            format: uuid
        start_date:
          type: string
          format: date
        target_date:
          type: string
          format: date
    Pagination:
      type: object
      properties:
        next_cursor:
          type: string
        prev_cursor:
          type: string
        next_page_results:
          type: boolean
        prev_page_results:
          type: boolean
        total_results:
          type: integer
        total_pages:
          type: integer
        per_page:
          type: integer
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key generated from your Plane workspace settings. Pass it in the X-API-Key header on every request.
