openapi: 3.0.1
info:
  title: Plane Cycle Work Items Work Item Links API
  description: 'REST API for Plane, the open-source project and product management tool. The API is organized around REST with predictable, resource-oriented URLs, accepts JSON request bodies, returns JSON responses, and uses standard HTTP response codes and verbs. Resources are scoped to a workspace and project: workspaces contain projects, and projects contain work items (issues), cycles, modules, states, labels, and members. Authentication uses an X-API-Key header. This document covers Plane Cloud (https://api.plane.so); self-hosted Community Edition instances expose the same API under their own domain.'
  termsOfService: https://plane.so/legals/terms-and-conditions
  contact:
    name: Plane Support
    url: https://plane.so/contact
  license:
    name: AGPL-3.0 (Community Edition)
    url: https://github.com/makeplane/plane/blob/master/LICENSE.txt
  version: v1
servers:
- url: https://api.plane.so/api/v1
  description: Plane Cloud
security:
- ApiKeyAuth: []
tags:
- name: Work Item Links
paths:
  /workspaces/{workspace_slug}/projects/{project_id}/work-items/{work_item_id}/links/:
    get:
      operationId: listWorkItemLinks
      tags:
      - Work Item Links
      summary: List links on a work item.
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/WorkItemId'
      responses:
        '200':
          description: A list of links.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Link'
    post:
      operationId: createWorkItemLink
      tags:
      - Work Item Links
      summary: Add a link to a work item.
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/WorkItemId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkCreate'
      responses:
        '201':
          description: The created link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
  /workspaces/{workspace_slug}/projects/{project_id}/work-items/{work_item_id}/links/{link_id}/:
    get:
      operationId: getWorkItemLink
      tags:
      - Work Item Links
      summary: Retrieve a work item link.
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/WorkItemId'
      - $ref: '#/components/parameters/LinkId'
      responses:
        '200':
          description: The requested link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
    patch:
      operationId: updateWorkItemLink
      tags:
      - Work Item Links
      summary: Update a work item link.
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/WorkItemId'
      - $ref: '#/components/parameters/LinkId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkCreate'
      responses:
        '200':
          description: The updated link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
    delete:
      operationId: deleteWorkItemLink
      tags:
      - Work Item Links
      summary: Delete a work item link.
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/WorkItemId'
      - $ref: '#/components/parameters/LinkId'
      responses:
        '204':
          description: The link was deleted.
components:
  parameters:
    WorkspaceSlug:
      name: workspace_slug
      in: path
      required: true
      description: The unique slug of the workspace.
      schema:
        type: string
    LinkId:
      name: link_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    WorkItemId:
      name: work_item_id
      in: path
      required: true
      description: The UUID of the work item (issue).
      schema:
        type: string
        format: uuid
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The UUID of the project.
      schema:
        type: string
        format: uuid
  schemas:
    LinkCreate:
      type: object
      required:
      - url
      properties:
        title:
          type: string
        url:
          type: string
          format: uri
    Link:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        url:
          type: string
          format: uri
        issue:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key generated from your Plane workspace settings. Pass it in the X-API-Key header on every request.
