openapi: 3.2.0
info:
  title: Plane Cycles API
  description: REST API for Plane, the open-source project and product management tool.
  termsOfService: https://plane.so/legals/terms-and-conditions
  contact:
    name: Plane Support
    url: https://plane.so/contact
  license:
    name: AGPL-3.0 (Community Edition)
    url: https://github.com/makeplane/plane/blob/master/LICENSE.txt
  version: v1
servers:
- url: https://api.plane.so/api/v1
  description: Plane Cloud
security:
- ApiKeyAuth: []
tags:
- name: Cycles
paths:
  /workspaces/{workspace_slug}/projects/{project_id}/cycles/:
    get:
      operationId: listCycles
      tags:
      - Cycles
      summary: List all cycles in a project
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: A list of cycles.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cycle'
    post:
      operationId: createCycle
      tags:
      - Cycles
      summary: Create a cycle in a project
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CycleCreate'
      responses:
        '201':
          description: The created cycle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cycle'
  /workspaces/{workspace_slug}/projects/{project_id}/cycles/{cycle_id}/:
    get:
      operationId: getCycle
      tags:
      - Cycles
      summary: Retrieve a cycle
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/CycleId'
      responses:
        '200':
          description: The requested cycle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cycle'
    patch:
      operationId: updateCycle
      tags:
      - Cycles
      summary: Update a cycle
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/CycleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CycleCreate'
      responses:
        '200':
          description: The updated cycle.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cycle'
    delete:
      operationId: deleteCycle
      tags:
      - Cycles
      summary: Delete a cycle
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/CycleId'
      responses:
        '204':
          description: The cycle was deleted.
components:
  schemas:
    Cycle:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        owned_by:
          type: string
          format: uuid
        project:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
    CycleCreate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The UUID of the project.
      schema:
        type: string
        format: uuid
    CycleId:
      name: cycle_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    WorkspaceSlug:
      name: workspace_slug
      in: path
      required: true
      description: The unique slug of the workspace.
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key generated from your Plane workspace settings. Pass it in the X-API-Key header on every request.
