openapi: 3.0.1
info:
  title: Plane Cycle Work Items Modules API
  description: 'REST API for Plane, the open-source project and product management tool. The API is organized around REST with predictable, resource-oriented URLs, accepts JSON request bodies, returns JSON responses, and uses standard HTTP response codes and verbs. Resources are scoped to a workspace and project: workspaces contain projects, and projects contain work items (issues), cycles, modules, states, labels, and members. Authentication uses an X-API-Key header. This document covers Plane Cloud (https://api.plane.so); self-hosted Community Edition instances expose the same API under their own domain.'
  termsOfService: https://plane.so/legals/terms-and-conditions
  contact:
    name: Plane Support
    url: https://plane.so/contact
  license:
    name: AGPL-3.0 (Community Edition)
    url: https://github.com/makeplane/plane/blob/master/LICENSE.txt
  version: v1
servers:
- url: https://api.plane.so/api/v1
  description: Plane Cloud
security:
- ApiKeyAuth: []
tags:
- name: Modules
paths:
  /workspaces/{workspace_slug}/projects/{project_id}/modules/:
    get:
      operationId: listModules
      tags:
      - Modules
      summary: List all modules in a project.
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: A list of modules.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Module'
    post:
      operationId: createModule
      tags:
      - Modules
      summary: Create a module in a project.
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModuleCreate'
      responses:
        '201':
          description: The created module.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
  /workspaces/{workspace_slug}/projects/{project_id}/modules/{module_id}/:
    get:
      operationId: getModule
      tags:
      - Modules
      summary: Retrieve a module.
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ModuleId'
      responses:
        '200':
          description: The requested module.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
    patch:
      operationId: updateModule
      tags:
      - Modules
      summary: Update a module.
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ModuleId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModuleCreate'
      responses:
        '200':
          description: The updated module.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
    delete:
      operationId: deleteModule
      tags:
      - Modules
      summary: Delete a module.
      parameters:
      - $ref: '#/components/parameters/WorkspaceSlug'
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ModuleId'
      responses:
        '204':
          description: The module was deleted.
components:
  parameters:
    ModuleId:
      name: module_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The UUID of the project.
      schema:
        type: string
        format: uuid
    WorkspaceSlug:
      name: workspace_slug
      in: path
      required: true
      description: The unique slug of the workspace.
      schema:
        type: string
  schemas:
    ModuleCreate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date
        target_date:
          type: string
          format: date
        status:
          type: string
          enum:
          - backlog
          - planned
          - in-progress
          - paused
          - completed
          - cancelled
        lead:
          type: string
          format: uuid
        members:
          type: array
          items:
            type: string
            format: uuid
    Module:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date
        target_date:
          type: string
          format: date
        status:
          type: string
          enum:
          - backlog
          - planned
          - in-progress
          - paused
          - completed
          - cancelled
        lead:
          type: string
          format: uuid
        members:
          type: array
          items:
            type: string
            format: uuid
        project:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key generated from your Plane workspace settings. Pass it in the X-API-Key header on every request.
